<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yashanand.stayfit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StayFit">
        <receiver
            android:name=".TimerExpiredReceiver"
            android:enabled="true"
            android:exported="false"></receiver>

        <activity
            android:name=".activities.StartExercise"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StayFit.NoActionBar" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.FAQActivity" />
        <activity android:name=".activities.VariousExercise" />
        <activity android:name=".activities.DashboardActivity" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StayFit.NoActionBar" />
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.IntroViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StayFit.NoActionBar" />
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StayFit.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>